@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply inline-flex w-full items-center justify-center gap-x-2 rounded-[10px] border border-transparent px-5 py-2 font-medium transition-colors disabled:pointer-events-none disabled:opacity-50 sm:w-auto;
}

.button-solid {
  @apply bg-p-primary text-white hover:bg-p-primary/90 focus:bg-p-primary/90;
}

body {
  background-image: url("../../public/images/herobg.svg"),
    linear-gradient(to right top, hsl(209, 100%, 35%), black);
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  height: screen;
}


@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.float-item {
  width: 40%;
  aspect-ratio: 1 / 1.7;
  max-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  animation: 2s ease-in-out 0s infinite normal none running move;
}

.amazon {
  background-image: linear-gradient(to right top, rgb(17, 14, 15), rgb(45, 37, 39));
  animation-duration: 2s;
  left: 20%;
  rotate: -20deg;
}

.apple {
  background-image: linear-gradient(to right top, rgb(26, 187, 219), rgb(58, 53, 156));
  animation-duration: 2.5s;
  top: 2rem;
  left: 50%;
  translate: -50%;
}
.steam {
  background-image: linear-gradient(to right top, rgb(42, 43, 85), rgb(59, 60, 120));
  animation-duration: 3s;
  top: 2rem;
  left: 50%;
  translate: -50%;
  rotate: 20deg;
}


.float-item img {
  width: 40%;
}

.services {
  background: linear-gradient(to left bottom, hsl(209 100% 31%), hsl(209 100% 15%));
}

.exchange-amazon {
  background: linear-gradient(to top right, hsl(340, 10%, 6%), hsl(340, 10%, 16%));
}

.exchange-apple {
  background: linear-gradient(to right top, rgb(26, 187, 219), rgb(58, 53, 156));
}

.exchange-steam {
  background: linear-gradient(to right top, rgb(42, 43, 85), rgb(59, 60, 120));
}


.exchange {
  /* width: 50%;
  max-width: 10rem; */
  aspect-ratio: 1.7 / 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-exchange * {
  grid-row: 1;
  grid-column: 1;
}

.reason {
  width: 100%;
  max-width: 25rem;
  padding: 2rem;
  border-radius: 8px;
  background: hsl(209 100% 21%);
  text-align: center;
  box-shadow: -5px 5px 10px hsl(209 100% 31% / 10%);
}

/* .reason-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
} */

.reviews {
  padding-block: 4rem;
  background: linear-gradient(to left bottom, hsl(209 100% 31%), hsl(209 100% 15%));
  margin-bottom: 8rem;
}

.review-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-inline: 1rem;
}

.review {
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(0 0% 100% / 7%);
}

.star {
  height: 1rem;
  background-image: url(/images/star.svg);
  background-size: 1rem;
  margin-top: .5rem;
  background-repeat: space;
  width: 5.9rem;
}

.gift-cards {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.gift-cards-item {
  --shadow: hsl(0 0% 0% / 50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: hsl(209 100% 31%);
  border-radius: .5rem;
}

.gift-cards-item a {
  background: none;
  height: 2rem;
  border: 0;
  outline: 0;
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 5px var(--shadow);
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  animation: shake 2s ease-in-out infinite;
}

.gift-cards>div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.amazon-item {
  background-image: linear-gradient(to top right, hsl(340, 10%, 6%), hsl(340, 10%, 16%));
}

.steam-item {
  background-image: linear-gradient(to bottom left, hsl(0, 0%, 0%), hsl(201, 46%, 14%));
  transition: 400ms;
}

.play-item {
  background-image: linear-gradient(to top right, hsl(218, 91%, 63%), hsl(218, 91%, 73%));
}

.apple-item {
  background-image: linear-gradient(to top right, hsl(217, 90%, 57%), hsl(191, 92%, 65%));
  transition: 600ms;
}

.xbox-item {
  background: hsl(119, 70%, 30%);
}

.spotify-item {
  background: hsl(156, 99%, 35%);
  transition: 500ms;
}

.nike-item {
  background: hsl(13, 97%, 55%);
}

.ebay-item {
  background: hsl(230, 78%, 48%);
  transition: 300ms;
}

footer {
  padding-block: 4rem;
  background: hsl(209 100% 11%);
}

@media (min-width: 700px) {
  .review-list {
      grid-template-columns: 1fr 1fr;
  }
}


